

:root {
  color-scheme: light dark;

  --text-color: light-dark(#1f1f1f, #f1f1f1);
  --bg-color: light-dark(#f1f1f1, #1f1f1f);
  --accent-color: light-dark(#e2a432, #3c6fea);

  --accent-hover-color: light-dark(#e2a4322c, #3c70ea7e);

  font-size: 18px;
}

ul {
  list-style: none;
}

.wrap {
  min-height: 100dvh;

  color: var(--text-color);
  background-color: var(--bg-color);
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;

  margin: 0 15px;
}

.header-nav {
  display: flex;
}
.header-nav__links {
  margin-right: 15px;
}

/* Dropdown styles */
.dropdown {
  width: fit-content;
  height: fit-content;

  position: relative;

  font-size: 1em;
}

.dropdown__content {
  position: absolute;

  pointer-events: none;

  z-index: 19;
}
.dropdown.open > .dropdown__content {
  pointer-events: auto;
}

.dropdown.dropdown-styles-1 > .dropdown__content {
  top: calc(100%);
    
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.205);

  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);

  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out, all 0.3s ease 0s;
}
.dropdown.dropdown-styles-1.open > .dropdown__content {
  opacity: 1;
  transform: translateY(0);
}

/* Link lists styles */
.links__list {
  width: 100px;
  padding: 10px 0;
}
.link-list__item {
  transition: all 0.1s ease 0s;;
  width: 100%;

  padding: 3px 0;

  display: flex;
}
.link-list__item > a {
  padding: 2px 5px;
}
.link-list__item:hover {
  background-color: rgba(128, 128, 128, 0.125);
}
.link-list__item:active {
  background-color: var(--accent-color);
}

/* Theme styles */
.theme-switcher__button {
  color: var(--accent-color);
  width: 50px;

  border-radius: 15px;
}
.theme-switcher__button > div {
  padding: 10px;
}
.theme-switcher__button, .theme-switcher__button > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-switcher__button:hover {
  background-color: var(--accent-hover-color);
}