/* Import fonts */
@font-face {
  font-family: Roboto Normal;
  src: url('./assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
  font-style: normal;
}
@font-face {
  font-family: Roboto Italic;
  src: url('./assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf');
  font-style: italic;
}
@font-face {
  font-family: Montserrat Normal;
  src: url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  font-style: normal;
}
@font-face {
  font-family: Montserrat Italic;
  src: url('./assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
  font-style: italic;
}

/* Common styles */
:root {
  color-scheme: light dark;

  --text-color: light-dark(#1f1f1f, #f1f1f1);
  --bg-color: light-dark(#f1f1f1, #1f1f1f);
  --accent-color: light-dark(#e2a432, #3c6fea);
  --logo-color: light-dark(#8e24aa, #c054fc);

  --hover-color: rgba(128, 128, 128, 0.15);
  --accent-hover-color: light-dark(#e2a4322c, #3c70ea7e);

  --dropdown-bg-color: light-dark(#f5f5f5, #272727);
  --dropdown-shadow: light-dark(rgba(0,0,0,0.25), rgba(0,0,0,0.35));
  --dropdown-border-color: light-dark(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35));
  --dropdown-top-square-size: 10px;

  font-size: 18px;
}

button {
  background-color: transparent;
}

ul {
  list-style: none;
}

.wrap {
  min-height: 100dvh;

  color: var(--text-color);
  background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat Normal;
}
*:not(h1, h2, h3, h4, h5, h6) {
  font-family: Roboto Normal;
}

#smart-dropdown {
  position: absolute;
  top: 0;
}

/* Header styles */
.header {
  display: grid;
  grid-template-columns: min-content 1fr min-content;

  margin: 0 20px;
  padding-top: 10px;
}

/* Logo styles */
.header__logo > h1 {
  font-size: 2em;
  font-weight: 700;
  color: var(--logo-color);

  letter-spacing: 2px;

  transition: all 0.3s ease 0s;
}
.header__logo span {
  transition: all 0.3s ease 0s;
}
.header__logo:hover > h1 > span:first-of-type {
  margin-right: 10px;
}

/* Navigation styles */
.header-nav {
  display: flex;
  align-self: center;
  justify-self: center;
}
.header-nav__links {
  margin-right: 15px;
  color: #000000;
}

/* Toolbar styles */
.header__toolbar {
  display: flex;
  align-items: center;
  justify-content: end;

  /* justify-self: end; */
}
.toolbar-button {
  width: 50px;
}

/* Dropdown styles */
.dropdown {
  width: fit-content;
  height: fit-content;

  position: relative;

  font-size: 1em;
}

.dropdown__content {
  position: absolute;

  pointer-events: none;

  background-color: var(--dropdown-bg-color);
  box-shadow: 2px 2px 2px 2px var(--dropdown-shadow);
  border: 1px solid var(--dropdown-border-color);

  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

  z-index: 100;
}
.dropdown.open > .dropdown__content {
  pointer-events: auto;
}

:not(.dropdown.smart) {
  &.dropdown-styles-1 > .dropdown__content {
    top: calc(100%);
  }

  &.tooClose-right > .dropdown__content {
    right: 0;
  }

  &.drop-on-middle > .dropdown__content {
    left: 50%;
    translate: -50% 0%;
  }

  &.drop-on-middle.tooClose-right > .dropdown__content {
    left: -50%;
  }
  &.drop-on-middle.tooClose-left > .dropdown__content {
    right: -50%;
  }
}

.dropdown-styles-1 > .dropdown__content {
  opacity: 0;
  transform: translateY(-10px);
}
.dropdown-styles-1.open > .dropdown__content {
  opacity: 1;
  transform: translateY(0);
}

.dropdown.dropdown-styles-2 > .dropdown__content {
  opacity: 0;
  transform: scale(0.975);
}
.dropdown.dropdown-styles-2.open > .dropdown__content {
  opacity: 1;
  transform: scale(1);
}

/* You need add wrap around your content for this styles */
.dropdown-styles-arrow > .dropdown__content {
  top: calc(100% + calc(var(--dropdown-top-square-size) / 2) + 2px);
}
.dropdown-styles-arrow > .dropdown__content > div::before {
  content: '';

  display: block;

  background-color: var(--dropdown-bg-color);

  border: 1px solid var(--dropdown-border-color);
  border-right: 0;
  border-bottom: 0;

  width: var(--dropdown-top-square-size);
  height: var(--dropdown-top-square-size);

  position: absolute;
  z-index: -1;
  left: calc(50% - var(--dropdown-top-square-size) / 2);
  top: calc(var(--dropdown-top-square-size) / -2);
  transform: rotate(45deg);
}

.dropdown-styles-arrow.drop-on-middle.tooClose-right > .dropdown__content > div::before {
  left: calc(90% - var(--dropdown-top-square-size) / 2);
  translate: -50% 0%;
}
.dropdown-styles-arrow.drop-on-middle.tooClose-left > .dropdown__content > div::before {
  right: calc(90% - var(--dropdown-top-square-size) / 2);
  translate: 50% 0%;
}

/* Link lists styles */
.links__list {
  width: 100px;
  padding: 10px 0;
}
.link-list__item {
  transition: all 0.25s ease 0s;

  width: 100%;

  padding: 3px 0;

  display: flex;
}
.link-list__item > a {
  padding: 2px 5px;
}
.link-list__item:hover {
  background-color: var(--hover-color);
}
.link-list__item:active {
  background-color: var(--accent-color);
}
.links > .dropdown__content {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* Theme Switcher styles */
.theme-switcher__button {
  transition: all 0.3s ease 0s;
  color: var(--accent-color);

  border-radius: 15px;
}
.theme-switcher__button > div {
  padding: 10px;
}
.theme-switcher__button, .theme-switcher__button > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-switcher__button:hover {
  background-color: var(--accent-hover-color);
}
.theme-switcher__button:active {
  transform: scale(0.95);
}

.theme-switcher > .dropdown__content {
  border-radius: 10px;
}

.theme-switcher__list {
  padding: 5px;
}
.themes-list__item {
  border-radius: 10px;
  cursor: pointer;
  
  width: 125px;
}
.themes-list__item.current::after {

}
.themes-list__item * {
  background-color: transparent;
  cursor: pointer;
}
.themes-list__item:hover {
  background-color: var(--accent-color);
}

.theme-item {
  display: flex;
  align-items: center;
  gap: 5px;

  padding: 5px;
}
.theme-item__icon {
  padding: 5px;
  width: 1.55em;

  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-item__text {
  text-align: center;
  font-size: 0.9em;
}