/* Import fonts */
@font-face {
  font-family: Roboto Normal;
  src: url('./assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
  font-style: normal;
}
@font-face {
  font-family: Roboto Italic;
  src: url('./assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf');
  font-style: italic;
}
@font-face {
  font-family: Montserrat Normal;
  src: url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  font-style: normal;
}
@font-face {
  font-family: Montserrat Italic;
  src: url('./assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
  font-style: italic;
}

/* Common styles */
:root {
  color-scheme: light dark;

  --text-color: light-dark(#1f1f1f, #f1f1f1);
  --bg-color: light-dark(#f1f1f1, #1f1f1f);
  --accent-color: light-dark(#e2a432, #3c6fea);

  --accent-hover-color: light-dark(#e2a4322c, #3c70ea7e);

  font-size: 18px;
}

ul {
  list-style: none;
}

.wrap {
  min-height: 100dvh;

  color: var(--text-color);
  background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat Normal;
}
*:not(h1, h2, h3, h4, h5, h6) {
  font-family: Roboto Normal;
}

/* Header styles */
.header {
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  column-gap: 10%;

  margin: 0 20px;
}

/* Logo styles */
.header__logo h1 {
  font-size: 2em;
  font-weight: 400;
}

/* Navigation styles */
.header-nav {
  display: flex;
  align-self: center;
  justify-self: center;

  justify-self: center;
}
.header-nav__links {
  margin-right: 15px;
}

/* Toolbar styles */
.header__toolbar {
  display: flex;
  align-items: center;
  
}

/* Dropdown styles */
.dropdown {
  width: fit-content;
  height: fit-content;

  position: relative;

  font-size: 1em;
}

.dropdown__content {
  position: absolute;

  pointer-events: none;

  z-index: 19;
}
.dropdown.open > .dropdown__content {
  pointer-events: auto;
}

.dropdown.dropdown-styles-1 > .dropdown__content {
  top: calc(100%);

  

  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out, all 0.3s ease 0s;
}
.dropdown.dropdown-styles-1.open > .dropdown__content {
  opacity: 1;
  transform: translateY(0);
}

/* Link lists styles */
.links__list {
  width: 100px;
  padding: 10px 0;
}
.link-list__item {
  transition: all 0.25s ease 0s;

  width: 100%;

  padding: 3px 0;

  display: flex;
}
.link-list__item > a {
  padding: 2px 5px;
}
.link-list__item:hover {
  background-color: rgba(128, 128, 128, 0.125);
}
.link-list__item:active {
  background-color: var(--accent-color);
}
.links > .dropdown__content {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* Theme Switcher styles */
.theme-switcher__button {
  transition: all 0.3s ease 0s;
  color: var(--accent-color);
  width: 50px;

  border-radius: 15px;
}
.theme-switcher__button > div {
  padding: 10px;
}
.theme-switcher__button, .theme-switcher__button > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-switcher__button:hover {
  background-color: var(--accent-hover-color);
}
.theme-switcher__button:active {
  transform: scale(0.95);
}

.theme-switcher > .dropdown__content {
  border: 1px solid black;
  border-radius: 10px;
}

.theme-switcher__list {
  padding: 5px 8px;
}
.themes-list__item {
  border-radius: 10px;
  cursor: pointer;

  width: 125px;
}
.themes-list__item.current::after {

}
.themes-list__item * {
  background-color: transparent;
}
.themes-list__item:hover {
  background-color: var(--accent-color);
}

.theme-item {
  display: flex;
  align-items: center;
  gap: 5px;

  padding: 5px;
}
.theme-item__icon {
  padding: 5px;
  width: 1.55em;

  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-item__text {
  text-align: center;
  font-size: 0.9em;
}